body {
    font-family: 'Roboto Mono', monospace;
    font-size: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.floating-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px;
    text-align: center;
    position: absolute;
}

.weather-section,
.stats-section,
.quote-section,
.tasks-section {
    margin-top: 20px;
    text-align: left;
}

.box {
    display: inline-block;
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 22px;
    border: 2px;
    margin: 2px 1px;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    margin: 0;
}

.tasks-section {
    max-height: 200px;
    overflow-y: auto;
}